<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HiddenBomb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F967C70D1D1EAFC8007EF72D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F967C7211D1EAFC8007EF72D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F967C72C1D1EAFC8007EF72D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
